release/*
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
*.lnk
Thumbs.db
ArmaScriptCompiler.exe

# VS extraneous build shit
extensions/builds/*.exp
extensions/builds/*.lib
extensions/builds/*.pdb
extensions/*/BuildShit
extensions/*/.vs
